/* .container {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */

.display-4 {
    text-align: center;
}

.display-5 {
    text-align: center;
}

.jumbotron {
    text-align: center ;
}

.Question1 {
    font-size: 40px;
}

.multiple-choice {
    font-size: 25px;
}

.btn {
    background-color: aqua;

}

.btn:hover {
    background-color: purple;
    color: gold;
    font-weight: bolder;
}

.button {
    background-color: aqua;
    display: block;
    width: 100px;
    margin: auto;
    
}

.button:hover {
    background-color: purple;
    color: gold;
    font-weight: bolder;
}

#countdown {
    font: bolder;
    font-size: 30px;
}